<div>
	<header>
		<div>
			<h1>pietrl</h1>
			<img src="" alt="pietrl" />
		</div>
		<nav role="menubar">
			<ul>
				<li><a href="#">Posts</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">X</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<ul>
			<li>
				<h2>Example Title 1</h2>
				<p>Example summary</p>
			</li>
			<li>
				<h2>Example Title 2</h2>
				<p>Example summary</p>
			</li>
			<li>
				<h2>Example Title 3</h2>
				<p>Example summary</p>
			</li>
		</ul>	
	</main>
	<footer>
		<p>Copyright - Link to GitHub repository</p>
	</footer>
</div>

<style>
	header, footer {
		height: 100%;
		display: flex;
		justify-content: center;
	}
</style>
